
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* this lays out the entire app as going top to bottom.  header - main area -footer */
.App {
  display: flex;
  flex-direction: column;
  height: 100%; 
}

/*  all three of these are needed to achieve full height layout */
html, body, #root {
  height: 100%;
}

/* this says header and footer should NOT stretch vertically */
.header, .footer {
  flex: none;
}

/* meaning that any component that should live between header and footer *SHOULD* flex vertically -
and that it should scroll if needed - to both keep the footer at the bottom, as well as show all
content without being hidden underneath the footer
*/
.flex-component {
  flex: 1 1 0;
  overflow-y: auto;
  background: url("./assets/puppy.png");
  background-repeat: no-repeat;
  background-size: contain;
}


/* utility class for layout - used by ALL components (!)  */
.general {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'open sans';
  font-weight: bold;
  font-size: calc(0.8em + 1vmin);
  padding: calc(0.4em + 1vmin);

}

.link {
  text-decoration: none;
  color: #333;
  margin: 0 1rem;
}

.link:hover {
  color:hsl(205, 90%, 30%);
}